{% extends 'layout.html' %}

{% block content %}
<div class="" style="border: 1px solid #000; width:800px; height:500px;">
	<div id="chart_container">
	    <div id="chart"></div>
	    <div id="legend_container">
	        <div id="smoother" title="Smoothing"></div>
	        <div id="legend"></div>
	    </div>
	    <div id="slider"></div>
	</div>
</div>

<script>

var palette = new Rickshaw.Color.Palette( { scheme: 'spectrum2001' } );

// set up our data series with data
var seriesData = {{ data | safe}};


var series = []
seriesData.forEach(function(metric){
	var datapoints = []
   metric.datapoints.forEach( function (point) {
	   datapoints.push({y : point[0], x: point[1]});
   });
	console.debug(metric)
	series.push({
		name: metric.target,
		data: datapoints,
		color: palette.color()
	})
})

// instantiate our graph!
var graph = new Rickshaw.Graph( {
    element: document.getElementById("chart"),
    width: 800,
    height: 500,
    renderer: 'line',
    series: series
} );

graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
} );

var legend = new Rickshaw.Graph.Legend( {
    graph: graph,
    element: document.getElementById('legend')

} );

var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph,
    legend: legend
} );

var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph
} );
axes.render();

</script>

{% endblock %}
