{% extends 'layout.html' %}

{% block breadcrumb %}
	<ul class="breadcrumb">
	  <li><a href="#">Home</a> <span class="divider">/</span></li>
	  <li class="active">{{dashboard.title}} 
	       &nbsp;&nbsp;&nbsp;[ <a href="#myModal" role="button" data-toggle="modal"><i class="icon-plus"></i></a> ]
	  </li>
	</ul>		
{% endblock %}


{% block content %}

<div id="myModalUpdate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<script type="text/template" class="template">
<form method="post" action="/graphic/<%- graphic.id %>/save">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit: <%- graphic.title %></h3>
  </div>
  <div class="modal-body">
    <p>
       Title: <input type="text" name="title" value="<%- graphic.title %>"><br>
       Source: <input type="text" name="url" value="<%- graphic.url %>">(eg: servers.zip2.put.io.system.load.load)<br>
       Width: <input type="text" name="width" value="<%- graphic.width %>"><br>
       Height: <input type="text" name="height" value="<%- graphic.height %>"><br>       
       From: <input type="text" name="from" value="<%- graphic.from %>"> (eg: -1day)<br>
       Graphtype: <input type="text" name="graphtype" value="<%- graphic.graphtype %>"> (eg: line)<br>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</form>
</script>  

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

<form method="post" action="/graphic/new/{{dashboard.id}}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New</h3>
  </div>
  <div class="modal-body">
    <p>
       Title: <input type="text" name="title"><br>
       Source: <input type="text" name="url">(eg: servers.zip2.put.io.system.load.load)<br>
       Width: <input type="text" name="width"><br>
       Height: <input type="text" name="height"><br>       
       From: <input type="text" name="from"> (eg: -1day)<br>
       Graphtype: <input type="text" name="graphtype"> (eg: line)<br>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</form>
  
</div>


<script>
function graphme(el, data, config){
    var palette = new Rickshaw.Color.Palette({ scheme: 'spectrum2001' });
    var seriesData = data;
    var series = []
    
    seriesData.forEach(function(metric){
        var datapoints = []
        metric.datapoints.forEach( function (point) {
           datapoints.push({y : point[0], x: point[1]});
        }); 
        series.push({
            name: metric.target,
            data: datapoints,
            color: palette.color()
        })
    })

    // instantiate our graph!
    var graph = new Rickshaw.Graph( {
        element: $(el).find('#chart')[0],
        width: config.width,
        height: config.height,
        renderer: config.renderer,
        series: series
    } );
    graph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph
    } );

    var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: $(el).find('#legend')[0]
    });

    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: graph,
        legend: legend
    } );

    var axes = new Rickshaw.Graph.Axis.Time( {
        graph: graph
    } );
    axes.render();
}
</script>

<style>
#mlegend_container {
    position:absolute;
    left:0px;
    bottom:20px;
    display:none;
}

#showlegend{
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:100;
}

.mg {
    float: left;
}
</style>


<script>
var graphs = {}
</script>
{% for graph in graphs %}
<script>
{% set gr = graph['graph'] %}
graphs[{{graph['graph'].id}}] = {id: {{gr.id}}, 
		                         title: "{{gr.title}}", 
		                         url: "{{gr.url}}",
		                         width: {{gr.width}},
		                         height: {{gr.height}},
		                         from: "{{gr.from_}}",
		                         graphtype: "{{gr.graphtype}}"
		                         }
</script>
<div id="graph-{{graph['graph'].id}}" class="mg" style="border: 1px solid #000; width:{{graph['graph'].width}}px; height:{{graph['graph'].height}}px;">
	<div id="chart_container">
	    <div id="chart"></div>
	    <div id="mlegend_container">
	        <div id="smoother" title="Smoothing"></div>
	        <div id="legend"></div>	        
	    </div>
	    <div id="slider"></div>
	    <div id="showlegend"><a href="javascript:;" onclick="$(this).parent().parent().find('#mlegend_container').toggle()"><i class="icon-wrench"></i></a></div>
	</div>
</div>
<div style="clear"></div>
<script>
var config = {
   height: {{graph['graph'].height}},
   width: {{graph['graph'].width}},
   renderer: '{{graph['graph'].graphtype}}'
}
graphme($('#graph-{{graph['graph'].id}}'), {{ graph['data'] | safe}}, config);
</script>
{% endfor %}

<script>
$(function(){
	$('.mg').dblclick(function(){
		var template = _.template($("script.template").html());
		var graphic = graphs[$(this).attr('id').split('-')[1]];
	    $('#myModalUpdate').html(template({graphic:graphic}))		
		$("#myModalUpdate").modal('show');
	})
})
</script>

{% endblock %}
